<div class="coverFooter">
    <div class="coverAdvisorInformation">
        <p class="coverFooterText">
            Document date: {{documentDate}}
        </p>
        <p class="coverFooterText">
            Advisor: {{advisorData.advisorName}}
        </p>
        <p class="coverFooterText">
            {{advisorData.practiceName}}
        </p>
    </div>
</div>