<head>
  {{>stylesPartial}}
</head>
<body>
    <div class="coverTitleContainer">
        {{#if coverTitleText}}
            <p class="coverTitleText"}>
                {{coverTitleText}}
            </p>
        {{/if}}
        {{#if coverTitleText2}}
            <p class="coverTitleText2"}>
                {{coverTitleText2}}
            </p>
        {{/if}}
        {{#if coverTitleText3}}
            <p class="coverTitleText3"}>
                {{coverTitleText3}}
            </p>
        {{/if}}
    </div>
</body>